.profile-page-container {
  background: var(--primary-color) no-repeat left;
  padding-top: 30px;
  animation: fadeIn 0.3s ease-in-out forwards;
  margin-bottom: -30px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.profile-avatar {
  border-radius: 50%;
  border: solid rgb(0, 116, 52) 5px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.profile-name {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 20px;
  display: inline-block;
}

.user-level {
  border: rgb(255, 230, 0) 2px solid;
  border-radius: 15px;
  background-color: rgb(255, 255, 194);
  text-align: center;
  color: rgb(216, 194, 0);
  padding: 10px 50px;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  margin-left: 40px;
  transform: translateY(-15%);
}

.btn {
  color: white;
  width: 25%;
  font-size: 18px;
  border-radius: 40px;
  border-color: none;
  border: none;
  padding: 15px 10px;
  margin-top: 30px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn+.btn {
  margin-left: 20px;
}

.follow {
  background-color: rgb(0, 116, 52);
}

.block {
  background-color: rgb(255, 54, 54);
}

.profile-left-section {
  border: solid rgb(0, 116, 52) 5px;
  border-radius: 20px;
  padding: 40px 50px;
  background-color: aliceblue;
}

.user-info .number {
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
}

.user-info .text {
  display: inline-block;
  color: #000;
  font-size: 20px;
  margin-left: 5px;
}

.text+.number {
  margin-left: 30px;
}

.interaction {
  display: block;
  transform: translate(47%, 15%);
}

.timeline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap:  wrap;
  margin-top: 30px;
}

.timeline .thread {
  display: flex;
  flex-direction: column;
  background-color: rgb(205, 255, 216);
  width: 30%;
  height: 55vh;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.user-overview {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  font-size: 20px;
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.info {
  padding-left: 20px;
}

.thread .user-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 3px;
}

.user-name {
  font-weight: 600;
}

.time {
  font-weight: 300;
}

.badge {
  border: rgb(255, 230, 0) 2px solid;
  border-radius: 20px;
  width: 15%;
  background-color: rgb(255, 255, 194);
  text-align: center;
  color: rgb(216, 194, 0);
  padding: 15px 0;
  font-weight: 600;
}

.status {
  font-size: 18px;
  padding: 0 0 0px 20px;
}

.post-img {
  padding: 30px;
  border-radius: 20px;
}

.interaction-bar {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0;
  background-color: rgb(170, 255, 170);
  border-radius: 0 0 20px 20px;
  color: rgb(0, 116, 52);
}