/* Footer */
.footer {
    background: var(--primary-color) url('../../assets/images/bg-homepage-3.png') no-repeat center;
    background-size: 100% 100%;
    padding: 100px 0;
    padding-top: 100px;
    
  }

  .wrap-footer {
    display: flex;
    justify-content: center;
  }
  
  .footer__column {
    width: 25%;
  }
  
  .footer__wrap-social {
    display: flex;
  }
  
  .footer__link {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: var(--secondary-color);
    transition: all 0.3s linear;
  }
  
  .footer__link:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
  }
  
  .footer__link + .footer__link {
    margin-left: 16px;
  }
  
  .footer__link-icon {
    font-size: 2rem;
  }
  
  .footer__column__title {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 600;
  }
  
  .footer__list {
    list-style: none;
    margin-top: 28px;
  }
  
  .footer__item-link {
    display: inline-block;
    color: var(--white-color);
    line-height: 1.6;
    font-size: 1.6rem;
    margin: 4px 0;
    padding: 4px 0;
  }
  
  .footer__item-link:hover {
    color: var(--primary-color);
    transition: 0.2s linear;
  }