/* Home page */
.section-banner {
  background: var(--primary-color) url("../../assets/images/bg-homepage-1.png")
    no-repeat left;
  background-size: cover;
  height: 100vh;
  /* transform: translateY(-70px); */
}

.container {
  width: 80%;
}

.banner__box {
  position: absolute;
  top: 20%;
  /* min-width: 400px; */
  transform: translate(-10vw, -5vh);
}

.banner__box__title {
  font-size: 6rem;
  color: var(--black-blue-color);
  font-family: "UVF";
  max-width: 800px;
  font-weight: 800;
  margin-bottom: 5vh;
  margin-left: 10vw;
}

/* Description */
.banner__box__content {
  font-size: 2.4rem;
  margin: 16px 0 36px;
  line-height: 2;
  width: 500px;
  margin-bottom: calc(15vh + 2vw);
  margin-left: 10vw;
}

.banner__box__btn {
  /* text-align: left; */
  transform: translate(10vw, -5vh);
}

.banner__box__btn span {
  cursor: pointer;
  text-align: center;
  font-size: 2.6rem;
  padding: 12px 32px;
  border-radius: 50px;
  box-shadow: 2.8px 2.8px 2.9px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 6.9px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 13px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 23.2px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 43.4px rgba(0, 0, 0, 0.05),
    100px 100px 104px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
}

.banner__btn {
  background-color: var(--white-color);
  color: var(--secondary-color);
  font-weight: 800;
}

.banner__btn:hover {
  animation: buttonHomePageHoverAnimation 0.2s;
  color: var(--white-color);
  background-color: var(--secondary-color);
}

@keyframes buttonHomePageHoverAnimation {
  from {
    background-color: white;
    color: var(--secondary-color);
  }
  to {
    color: white;
    background-color: var(--secondary-color);
  }
}

.section-intro {
  background: var(--primary-color) url("../../assets/images/bg-homepage-2.png")
    no-repeat left;
  /* height: 120vh; */
  background-size: cover;
  transform: translateY(-2px);
}

.intro__title {
  /* width: 120vw; */
  font-size: 2.4rem;
  color: var(--black-blue-color);
  text-align: center;
  padding-top: 120px;
}

.intro__title h2 {
  margin: 0 15vw;
  font-weight: 600;
}

.intro__box {
  width: 360px;
  background-color: var(--white-color);
  padding: 36px;
  border-radius: 16px;
  box-shadow: 2.8px 2.8px 2.9px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 6.9px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 13px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 23.2px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 43.4px rgba(0, 0, 0, 0.05),
    100px 100px 104px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 1920px) {
  .wrap-box-intro {
    margin: 0 25vw;
    margin-top: 120px;
    padding-bottom: 160px;
  }
  .intro__box:nth-child(even) {
    margin-left: 420px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
/* Macbook air */
@media screen and (max-width: 1280px) {
  .section-intro {
    background: var(--primary-color)
      url("../../assets/images/bg-homepage-2.png") no-repeat left;
    height: 120vh;
    background-size: cover;
    transform: translateY(-2px);
  }
  .wrap-box-intro {
    display: flex;
    justify-content: center;
    margin: 120px 10vw;
    padding-bottom: 160px;
  }
  .intro__box:nth-child(2) {
    margin: 0 40px;
  }
}

.intro__box-title {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.intro__box-content {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 25px 0 12px;
  text-align: justify;
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1440px) {
}

/* Mobile */
@media (min-width: 0px) and (max-width: 768px) {
}
